---
import Container from '../components/Container.astro';
import ProfilePhoto from '../components/ProfilePhoto.astro';
import Layout from '../layouts/Page.astro';
---

<Layout>
  <Container bottomPadding topPadding narrow flow>
    <ProfilePhoto/>
    <h1>About Me</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis tristique sollicitudin nibh sit amet commodo. Sed arcu non odio euismod lacinia at. Pulvinar neque laoreet suspendisse interdum consectetur libero id. Facilisis leo vel fringilla est ullamcorper eget nulla facilisi etiam. Erat velit scelerisque in dictum non consectetur a. Arcu felis bibendum ut tristique et. Cras tincidunt lobortis feugiat vivamus at augue. Amet nisl suscipit adipiscing bibendum est. Vel risus commodo viverra maecenas accumsan.</p>

     <p> Quis lectus nulla at volutpat. Feugiat pretium nibh ipsum consequat nisl vel pretium lectus quam. Nunc sed id semper risus in hendrerit. Et sollicitudin ac orci phasellus. Egestas sed tempus urna et. Fermentum odio eu feugiat pretium. Luctus venenatis lectus magna fringilla. Tellus integer feugiat scelerisque varius morbi enim. Tortor pretium viverra suspendisse potenti. Augue mauris augue neque gravida in. A pellentesque sit amet porttitor eget dolor morbi. Sed velit dignissim sodales ut eu. Felis bibendum ut tristique et egestas quis. Vel orci porta non pulvinar neque laoreet suspendisse interdum consectetur.</p>
      
      <p>Convallis aenean et tortor at risus. Pharetra vel turpis nunc eget lorem dolor sed. Nullam ac tortor vitae purus faucibus ornare suspendisse sed. Pharetra pharetra massa massa ultricies mi quis hendrerit dolor magna. Aliquam etiam erat velit scelerisque in dictum non. Cursus risus at ultrices mi. Odio eu feugiat pretium nibh ipsum consequat nisl. Praesent elementum facilisis leo vel fringilla est ullamcorper. Suspendisse potenti nullam ac tortor vitae purus faucibus ornare suspendisse. Vestibulum morbi blandit cursus risus at. Quis risus sed vulputate odio ut enim blandit volutpat. At volutpat diam ut venenatis tellus in metus vulputate eu. Lacus viverra vitae congue eu. Vitae turpis massa sed elementum tempus egestas sed sed risus. Turpis egestas pretium aenean pharetra magna ac placerat. Luctus accumsan tortor posuere ac. Feugiat nibh sed pulvinar proin gravida hendrerit lectus.</p>
      
     <p> Iaculis urna id volutpat lacus. Vel pharetra vel turpis nunc. Fringilla urna porttitor rhoncus dolor purus non enim praesent. Hendrerit dolor magna eget est lorem ipsum dolor sit amet. Blandit volutpat maecenas volutpat blandit aliquam etiam erat. Nunc sed velit dignissim sodales ut. Felis donec et odio pellentesque. Vel fringilla est ullamcorper eget. Odio aenean sed adipiscing diam donec adipiscing tristique risus. Massa id neque aliquam vestibulum morbi blandit cursus risus at. Bibendum est ultricies integer quis auctor elit. Dignissim sodales ut eu sem integer vitae justo eget.</p>
  </Container>
</Layout>
