---
import Container from "../components/Container.astro";
import ProfilePhoto from "../components/ProfilePhoto.astro";
import Layout from "../layouts/Page.astro";
---

<Layout>
  <Container bottomPadding topPadding narrow flow>
    <ProfilePhoto />
    <h1>About Me</h1>
    <p>
      Je m'appelle Nadou Servaes, j'ai 23 ans et je suis actuellement étudiante
      en Master en Architecture d'intérieur à l'Académie Royale des Beaux-Arts.
      Mon Bachelier s'est déroulé à l'ESA Saint-Luc de Saint- Gilles.
    </p>
    <p>
      Ma volonté est d'élargir mes connaissances dans le monde de l'architecture
      afin de me constituer une certaine expérience professionnelle. J'ai déjà
      eu la chance de travailler dans le bureau d'architecture STAMP en tant que
      stagiaire et ensuite comme job étudiant sur plusieurs mois.
    </p>
    <p>
      Mon travail consistait à participer à l'exécution des plans et à la
      conception de projets privées.Plusieurs tâches administratives m'étaient
      confiées tel que le Dossier d'Intervention Ultérieur ainsi que le suivi de
      chantier et la rédaction des PV.
    </p>
    <p>
      J'affectionne particulièrement cette polyvalence dans les tâches car je
      suis une personne qui aime toucher à tout. En effet, que ce soit à travers
      la danse, la peinture, le dessin ou encore la poterie, l'Art a toujours
      été un support qui m'a permis de m'exprimer.
    </p>
    <p>
      En grandissant, l'Architecture fut une évidence pour moi. Elle était à la
      fois libératrice car je pouvais laisser libre cours à ma créativité et à
      la fois exigeante par son aspect pratique et technique. Cette combinaison
      correspond assez bien avec mon caractère perfectionniste et ordonné.
    </p>
    <p>
      J'ai pu notamment me découvrir une passion pour le Design à travers mes
      cours en Histoire de l'Art et du Design. La création sur mesure du
      mobilier au sein d'un projet m'excite particulièrement car il le rend
      d'autant plus unique. J'ai une préférence pour l'époque moderniste : Eero
      Saarinen, Jules Wabbes, Charlotte Perriand ou encore Marcel Breuer… pour
      ne citer qu'eux, font partis de mes sources d'inspirations.
    </p>
    <p>
      Ayant acquis des bases solides, ma volonté est, dès à présent, de mettre
      en pratique mes connaissances et de parfaire mes compétences.
    </p>
    <p>
      Je suis quelqu'un de nature assez curieuse. C'est pour ça que j'ai
      l'ambition futur d'élargir mes horizons et de vivre de nouvelles
      expériences en dehors de la Belgique.
    </p>
    <p>
      Il est important, selon moi, d'être correctement préparée à ce métier qui
      permettra, je l'espère, de m'ouvrir des portes au delà des frontières.
    </p>
  </Container>
  <style>
    p{
      text-align: justify;
    }
  </style>
</Layout>
