---
import Container from "../components/Container.astro";
import ProfilePhoto from "../components/ProfilePhoto.astro";
import Layout from "../layouts/Page.astro";
import Button from "../components/Button.astro";
import Download from "../../assets/telecharger.png";
import CVV from "../../public/assets/CV_Nadou_SERVAES_.pdf";
---

<style>
  p {
    font-weight: 200;
  }
</style>
<Layout>
  <Container bottomPadding topPadding narrow flow>
    <ProfilePhoto />
    <h1>À propos de moi</h1>
    <Button href={CV} download outlined>Télécharger mon CV</Button>

    <p>
      Je m'appelle Nadou Servaes et je suis une jeune architecte d'intérieur
      passionnée et déterminée. Bien que mon expérience professionnelle soit
      encore récente, j'ai eu l'opportunité d'enrichir mes compétences au sein
      de divers bureaux d'architecture, où j'ai effectué plusieurs stages
      enrichissants.
    </p>
    <p>
      Mon rôle durant ces stages était diversifié : participation à l'exécution
      des plans et à des compétitions d'architecture, conception de projets
      privés, et prise en charge de tâches administratives telles que la
      rédaction du Dossier d'Intervention Ultérieur et le suivi de chantier en
      tant que Coordinatrice Santé et Sécurité. J'ai également contribué à la
      rédaction de nombreux PV. Cette polyvalence me plaît énormément car elle
      correspond parfaitement à mon désir d'apprendre et d'explorer différents
      aspects de mon métier.
    </p>
    <p>
      L'Art a toujours été un moyen d'expression pour moi, que ce soit à travers
      la danse, la peinture, le dessin ou la poterie. Naturellement,
      l'architecture s'est imposée comme une évidence dans ma vie, combinant
      créativité libératrice et rigueur technique. Mon caractère
      perfectionniste, organisé et autodidacte trouve un écho dans les exigences
      de cette discipline.
    </p>
    <p>
      Durant mes études, à l'Académie Royale des Beaux-Arts et à Saint-Luc, j'ai
      appris à anticiper les défis que pose chaque projet. J'ai acquis des
      compétences dans la pertinence du choix des matériaux, des installations
      techniques, de la conception de l'éclairage... Ces compétences ne
      représentent qu'une petite partie de mon éventail de connaissances.
    </p>
    <p>
      J'ai aussi développé une passion pour le design grâce à mes cours
      d'Histoire de l'Art et du Design. La création de mobilier sur mesure, qui
      rend chaque projet unique, m'enthousiasme particulièrement. Je puise mon
      inspiration chez des figures emblématiques du modernisme telles qu'Eero
      Saarinen, Jules Wabbes, Charlotte Perriand ou encore Archizoom, pour ne
      citer qu'eux.
    </p>
    <p>
      Forte de bases solides, je souhaite maintenant mettre en pratique mes
      connaissances et affiner mes capacités. Curieuse et ambitieuse, j'aspire à
      élargir mes horizons et à acquérir de nouvelles expériences au-delà de la
      Belgique.
    </p>
    <p>
      Je crois qu'une préparation rigoureuse est essentielle pour exceller dans
      ce métier, et j'espère que cette approche me permettra de saisir des
      opportunités à l'international.
    </p>
  </Container>
  <style></style>
</Layout>
