---
import Container from '../components/Container.astro';
import Layout from '../layouts/Page.astro';
import ContactForm from '../components/ContactForm.astro';
---

<Layout>
  <Container narrow topPadding bottomPadding>
    <h1>Contactez Moi</h1>
    <p>Utilisez le formulaire ci-dessous pour me contacter et je vous répondrai dans les plus brefs délais.</p>
    <ContactForm />
  </Container>
</Layout>
