---
import FormInput from './FormInput.astro';
import FormTextarea from './FormTextarea.astro';
import Button from './Button.astro';
---

<style>
  form {
    margin: var(--space-s) auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>

<!-- This form is ready to be used with Netlify forms, formspark, formspress, getform.io, etc -->
<form
  netlify
  netlify-honeypot
  action=""
  name="contact"
  method="POST"
  action="/about"
>
  <FormInput label="Nom" name="nom" autocomplete="name" />
  <FormInput label="Email" name="email" autocomplete="email" />
  <FormTextarea label="Message" name="message" />
  <Button type="submit">Envoyer</Button>
</form>
