---
import { Icon } from 'astro-icon';
import Button from './Button.astro';
---

<Button outlined href="https://littlesticks.dev/templates/pro-file" customIcon>Get This Template <Icon name="ic:round-north-east" width="18px" height="18px" slot="icon" /></Button>
